@import "bootstrap";

.table1 {
	width:30%;
}

.table2 {
	width:50%;
}

.table3 {
    border-collapse: separate;
    border-spacing: 15px;
	width:100%;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center;
 }
 
 /* footer */

 footer {
	 
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;
 }

 footer a {
   color: #555;
 }

 footer a:hover {
   color: #222;
 }

 footer small {
   float: left;
 }

 footer ul {
   float: right;
   list-style: none;
 }

 footer ul li {
   float: left;
   margin-left: 15px;
 }
 
 /* trix */ 
.editor {
   background-color: #ffffff;
 }