<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">New User registration</h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
	
<%= render "users/registrations/new_form" %>
		  
</div>